.text-button-container {
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  display: grid;
  place-items: center;

  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.text-button-container.disabled {
  background-color: grey !important;
}
