.header-bar__container {
  height: 60px;
  width: 100%;
  background-color: #38bbff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  box-sizing: border-box;
}

.header-bar__header {
  color: white;
}

.header-bar__header-wrapper {
  display: flex;
  gap: 10px;
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px 15px;
  border-radius: 20px;
}

.header-bar__sign-out-button {
  background-color: #252525;
  width: 40px;
  height: 40px;
}

.header-bar__hamburger-button {
  background-color: #252525;
  width: 40px;
  height: 40px;
  display: none;
}

.header-bar__hamburger-button .icon {
  transition: transform 0.3s ease-in-out;
}

.icon.menu-open {
  transform: rotate(90deg);
}

@media (max-width: 600px) {
  .header-bar__sign-out-button {
    display: none;
  }
  .header-bar__hamburger-button {
    display: grid;
  }
}