.header-bar__container {
  height: 60px;
  width: 100%;
  background-color: #38bbff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
  box-sizing: border-box;
}

.header-bar__header {
  color: white;
}

.header-bar__header-wrapper {
  display: flex;
  gap: 10px;
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px 15px;
  border-radius: 20px;
}

.header-bar__sign-out-button {
  background-color: #333;
  width: 45px;
  height: 45px;
}

.header-bar__hamburger-button {
  background-color: #333;
  width: 45px;
  height: 45px;
  display: none;
}

.header-bar__icon-hover-wrapper:hover {
  background-color: #3333334c;
}

.header-bar__hamburger-button {
  height: 48px;
  width: 48px;
}

@media (max-width: 600px) {
  .header-bar__sign-out-button {
    display: none;
  }
  .header-bar__hamburger-button {
    display: block;
  }
}
