.create-page-add-player-input-container {
  display: flex;
  gap: 5px;
  min-width: 200px;
}

.add-player__icon-wrapper {
  width: 35px;
  height: 35px;
  background-color: #ff4200;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.add-player__icon {
  width: 20px;
  height: 20px;
}

.add-player__icon-wrapper.disabled {
  background-color: grey !important;
  transform: scale(0.8);
}
