.page-wrapper__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-wrapper__content-container {
  flex: 1;
  display: flex;
  position: relative;
}

.hamburger-menu__wrapper {
  position: absolute;
  height: 100%;
  background-color: #333;
  transform: translate(-100%, 0);
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu__wrapper.menu-open {
  transform: translate(0, 0);
}

.page-wrapper__outlet-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
  padding: 40px;
  background-color: #252525;
}

.page-wrapper__side-nav-wrapper {
  display: block;
}

.page-wrapper__outlet {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: grid;
  place-items: center;
}

@media (max-width: 600px) {
  .page-wrapper__side-nav-wrapper {
    display: none;
  }

  .page-wrapper__outlet-wrapper {
    padding: 20px;
  }
}
