.page-wrapper__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-wrapper__content-container {
  flex: 1;
  display: flex;
}

.page-wrapper__outlet-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
  padding: 40px;
  background-color: #252525;
}

.page-wrapper__outlet {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: grid;
  place-items: center;
}
