.view-page__root {
  position: absolute;
}

.view-page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.view-page__header {
  color: white;
  flex-basis: 20px;
}

.view-page__bracket-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.view-page__round-label {
  flex-basis: 200px;
  flex-shrink: 0;
}

.view-page__bracket {
  flex-grow: 1;
  display: flex;
  gap: 20px;
}

.view-page__round-labels {
  display: flex;
  width: 100%;
  gap: 20px;
  color: white;
}

@media screen and (max-width: 600px) {
  .view-page__round-label {
    flex-basis: 150px;
    flex-shrink: 0;
  }
}
