.view-page-root {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: #181818;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.needs-name {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.view-page-header {
  color: white;
  flex-basis: 20px;
}

.view-page-bracket-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.view-page-round-label {
  flex-basis: 100%;
}

.view-page-bracket {
  flex-grow: 1;
  display: flex;
  gap: 20px;
}

.view-page-round-labels {
  display: flex;
  width: 100%;
  gap: 20px;
  color: white;
}
