.text-icon-container {
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  gap: 10px;
  align-items: center;
  color: white;
  background-color: rgb(51, 51, 51);
}

.text-icon-icon-container {
  border-radius: 100%;
}
