.saved-page__root {
  height: 100%;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: #333;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saved-page__list {
  flex: 1;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.saved-page__list-headers {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.saved-page__list-header {
  flex-basis: 100%;
  color: #ffffffb3;
}

.saved-page__list-items-wrapper1 {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  background-color: #4d4d4d;
}

.saved-page__list-items-wrapper2 {
  position: absolute;
  height: 100%;
  width: 100%;
}
.saved-page__list-items-wrapper3 {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
