.create-page__header {
  color: white;
}

.create-page__form-container {
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
}

.create-page__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-page__label-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-1 {
  flex: 1;
}

.create-page__player-count {
  display: inline-grid;
  place-items: center;
  width: 27px;
  height: 27px;
  background-color: #4d4d4d;
  color: white;
  border-radius: 100%;
  font-size: 14px;
}

.create-page__players-input-wrapper1 {
  flex: 1;
  position: relative;
}

.create-page__players-input-wrapper2 {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.create-page__players-input-wrapper3 {
  flex: 1 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-content: start;
  gap: 15px;
  overflow: auto;
  background-color: #4d4d4d69;
  border-radius: 20px;
  padding: 15px;
}

.sign-page__generate-button {
  width: 100%;
  background-color: #38bbff;
  height: 35px;
  border: unset;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
