.create-page__root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #333;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-page__header {
  color: white;
}

.create-page__form-container {
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
}

.create-page__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-page__label-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-1 {
  flex: 1;
}

.create-page__player-count {
  display: inline-grid;
  place-items: center;
  width: 27px;
  height: 27px;
  background-color: #4d4d4d;
  color: white;
  border-radius: 100%;
}

.create-page__players-input-wrapper1 {
  flex: 1;
  position: relative;
}

.create-page__players-input-wrapper2 {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

.create-page__players-input-wrapper3 {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  align-content: start;
  gap: 10px;
  overflow: auto;
  background-color: #4d4d4d;
  border-radius: 20px;
}

.required-field-text {
  color: red;
}

.sign-page__generate-button {
  width: 100%;
  background-color: #45ff71;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}
