.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-main-content-container {
  flex: 1;
  background-color: #333;
  display: flex;
}

.app-route-outlet-wrapper {
  flex: 1;
  display: grid;
  place-items: center;
  padding: 40px;
}

.app-route-outlet {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  position: relative;
  display: grid;
  place-items: center;
}
