@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 200;
  color: white;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 200;
}

h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}

p {
  margin: 0;
}

button {
  margin: unset;
  border: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  font-size: 16px;
  padding: 2px 6px;
  display: grid;
  place-items: center;
  font-weight: 300;
}

label {
  color: #ffffffb3;
}

input,
select {
  height: 35px;
  padding: 0 20px;
  width: 280px;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

select {
  border-right: 10px solid transparent;
}

input:focus-visible,
select:focus-visible {
  outline: none;
}

.page-header {
  color: white;
}

.icon-wrapper {
  display: grid;
  place-items: center;
  box-shadow: #00000059 0px 5px 15px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(0.95);
}

img {
  pointer-events: none;
}

.icon-wrapper:hover {
  transform: scale(1);
  opacity: 0.8;
}

.icon-wrapper:active {
  transform: scale(1);
  opacity: 0.8;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 300;
  font-size: 16px;
}

.required-field-text {
  color: red;
  font-weight: 300;
  font-size: 14px;
}

.page__root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  box-sizing: border-box;
  background-color: #333;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {
  .page__root {
    padding: 20px;
  }
}
