.saved-bracket-item-root {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(97, 97, 97, 1);
  color: white;
  padding: 10px;
}

.saved-bracket-item-root:hover {
  background-color: #38bdff;
  color: black;
  cursor: pointer;
}

.saved-bracket-item-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 100%;
}
