.saved-item__root {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #616161;
  color: white;
  padding: 10px;
}

.saved-item__root:hover {
  background-color: #38bdff;
  color: black;
  cursor: pointer;
}

.saved-item__column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-basis: 100%;
}
