.sign-in__root {
  display: flex;
  height: 100vh;
  padding: 20px;
  align-items: center;
  background-color: #333;
}

.sign-in__intro-wrapper {
  width: 430px;
  height: 100%;
  box-sizing: border-box;
  background-color: #38bbff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sign-in__message-wrapper {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

.sign-in__message-inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 40px;
  text-align: center;
}

.sign-in__image-wrapper {
  display: flex;
  justify-content: center;
}

h3 {
  color: white;
}

.sign-in__intro-image {
  width: 140px;
  filter: invert(16%) sepia(14%) saturate(5%) hue-rotate(14deg) brightness(101%)
    contrast(90%);
}
